[tool.poetry]
name = "scrapedict"
version = "0.3.0"
description = "Scrape HTML to dictionaries"
authors = ["Pedro Rodrigues <medecau@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/medecau/scrapedict"

[tool.poetry.dependencies]
python = "^3.6"
beautifulsoup4 = "^4.4"
parse = "^1.18"

[tool.poetry.dev-dependencies]
pytest = "^6.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
